# librosa==0.10.1
# pytorch-lightning==2.2.1
pytorch-lightning
ipywidgets
transformers
tokenizers
rdkit
mordred
# opencv-python==4.9.0
# # opencv-python==4.8.0.74
# # opencv-python

# albumentations==1.3.1
# kaggle
# timm
# seaborn
# wandb
# ipyplot
# rapidfuzz
# ipywidgets
# nms
# japanize-matplotlib
# polars
# nibabel
# pylibjpeg
# python-gdcm
# pydicom==2.3.0
# PyWavelets
# hydra-core
# lightning
# transformers
# torch-audiomentations
# segmentation-models-pytorch
# opencv-python==4.8.0.74
# opencv-python-headless==4.8.0.74
# numpy==1.23.5